<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (post.layout != 'page') { %>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                <%- partial('post/author') %>
                <%- partial('post/tag') %>
            </div>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
            <% if(post.toc === true){ %>
                <div id="toc" class="article-toc-article">
                    <div class="article-toc-title"><%= __('article.toc') %></div>
                    <% if (theme.customize && theme.customize.toc) { %>
                        <%- toc(post.content, {
                            list_number: (typeof theme.customize.toc.numbering !== undefined ? theme.customize.toc.numbering : true),
                            class: 'article-toc-toc',
                            max_depth: (typeof theme.customize.toc.max_depth !== undefined ? theme.customize.toc.max_depth : 6)})
                        %>
                    <% } else { %> <%# if theme.customize.toc is not define %>
                        <%- toc(post.content, {class: 'article-toc-toc'})
                        %>
                    <% } %>
                </div>
            <% } %>
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>
